# Backend (Python) ignores
__pycache__/
*.pyc
backend/app/__pycache__/
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# Frontend (Node) ignores
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store

# General
.vscode/
.idea/